@model GenresViewModel

@{
    if (Model.Genre == null)
    {
        ViewData["Title"] = "Genres";
        <br />
        @foreach (var g in Model.Genres)
        {
            @if (g.Movies.Count > 0)
            {
                <a type="button" asp-controller="Movie" asp-action="Genres" asp-route-genreid="@g.Id" class="btn btn-outline-light btn-lg btn-block">@g.Genre (@g.Movies.Count)</a>
            }
        }
    }
    else
    {
        ViewData["Title"] = Model.Genre.Genre;
        <ul class="nav nav-pills mb-3">
            @foreach (var g in Model.Genres)
            {
                @if (g.Movies.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link @(g.Id == Model.Genre.Id ? "active" : "")" asp-controller="Movie" asp-action="Genres" asp-route-genreid="@g.Id">@g.Genre</a>
                    </li>
                }
            }
        </ul>
        <br />
        <div class="row">
            @if (Model.Genre.Movies.Count > 0)
            {
                @foreach (var m in Model.Genre.Movies)
                {
                    <div class="col-md-3 col-sm-12 mb-3">
                        <div class="card">
                            <img src="@m.Poster" />
                            <div class="card-body">
                                <h5 class="card-title">@m.Title</h5>
                                <p class="card-text">
                                    @m.Year @m.Duration''<br />
                                </p>
                                <a asp-controller="Movie" asp-action="Movie" asp-route-id="@m.Id" class="card-link">More info & tickets</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}
