@model GenreMovieViewModel
@{
    ViewData["Title"] = "Genres";
}
<ul class="nav nav-pills mb-3">
    @foreach (var g in Model.Genres)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Movie" asp-action="Genres" asp-route-genreid="@g.Id">@g.Genre</a>
        </li>
    }
</ul>
@if (Model.Movies.Count > 0)
{
    <table class="table table-hover light">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Movies.Count; i++)
        {
            <tr>
                <td>@(i + 1).</td>
                <td>@Model.Movies[i].Title</td>
                <td>@Model.Movies[i].Director</td>
                <td>@Model.Movies[i].Year</td>
                <td><a asp-controller="Movie" asp-action="Movie" asp-route-id="@Model.Movies[i].Id">More info & tickets</a></td>
            </tr>
        }
    </table>
}