@model List<CinemaLogic.DB.Movies>
@{
    ViewData["Title"] = "Movies";
}

<br />
<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-md-3 col-sm-12 mb-3">
            <div class="card">
                <img src="@m.Poster" />
                <div class="card-body">
                    <h5 class="card-title">@m.Title</h5>
                    <p class="card-text">
                        @for (int i = 0; i < m.MovieGenres.Count; i++)
                        {
                            <a asp-controller="Movie" asp-action="Genres" asp-route-genreid="@m.MovieGenres.ToList()[i].GenreId">@m.MovieGenres.ToList()[i].Genre.Genre</a>@(i == m.MovieGenres.Count - 1 ? "" : ",")
                        }
                        <br />
                        @m.Year @m.Duration''<br />
                    </p>
                    <a asp-controller="Movie" asp-action="Movie" asp-route-id="@m.Id" class="card-link">More info & tickets</a>
                </div>
            </div>
        </div>
    }
</div>
