@model List<CinemaLogic.DB.Movies>
@{
    ViewData["Title"] = "Movies";
}

<br />
<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
                <img src="@m.Poster" />
                <div class="card-body">
                    <h5 class="card-title">@m.Title</h5>
                    <p class="card-text">
                        @m.Year @m.Duration'' <a asp-controller="Movie" asp-action="Genres" asp-route-genreid="@m.Genre.Id">@m.Genre.Genre</a><br />
                    </p>
                    <a asp-controller="Movie" asp-action="Movie" asp-route-id="@m.Id" class="card-link">More info & tickets</a>
                </div>
            </div>
        </div>
    }
</div>
