@model MovieViewModel;
@{
    ViewData["Title"] = Model.Movie.Title;
}

@{ 
    List<SelectList> seatLists = new List<SelectList>();
    foreach (var s in Model.Movie.Screenings)
    {
        var seatList = new SelectList(s.AvailableSeats, "Id", "Type");
        seatLists.Add(seatList);
    }
}

<div class="container">
    <ul class="nav nav-pills mb-3">
        @foreach (var g in Model.Genres)
        {
            @if (g.Movies.Count > 0)
            {
                <li class="nav-item">
                    <a class="nav-link @(g.Id == Model.Movie.Genre.Id ? "active" : "")" asp-controller="Movie" asp-action="Genres" asp-route-genreid="@g.Id">@g.Genre</a>
                </li>
            }
        }
    </ul>
    <div>
        <br />
        <h3>@Model.Movie.Title</h3>
        @if (Model.Movie.OriginalTitle != null)
        {
            <h5 class="card-subtitle">@Model.Movie.OriginalTitle</h5>
        }
        <br />
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div><b>Genre:</b> 
                @for (int i = 0; i < Model.Movie.MovieGenres.Count; i++)
                {
                    @Model.Movie.MovieGenres.ToList()[i].Genre.Genre.ToLower() @(i == Model.Movie.MovieGenres.Count - 1 ? "" : ", ")
                }
                </div>
                <div><b>Year:</b> @Model.Movie.Year</div>
                <div><b>Duration:</b> @Model.Movie.Duration''</div>
                <div><b>Director:</b> @Model.Movie.Director</div>
                <div><b>Country:</b> @Model.Movie.Country</div>
                <br />
                <div>@Model.Movie.Abstract</div>
                <br />
                <div><b>Auditorium:</b> @Model.Movie.Auditorium.Name</div>
                <br />
                <div><b>Prices:</b></div>
                @for (int i = 0; i < Model.Prices.Count; i++)
                {
                    @if (Model.AuditoriumSeats[i].SeatCount > 0)
                    {
                        <b>@Model.AuditoriumSeats[i].Seat.Type.ToLower()</b><span> — @Model.Prices[i] EUR</span>
                        <br />
                    }
                }
            </div>
            <div class="col-md-7 col-sm-12">
                <iframe width="560" height="315" src="@Model.Movie.Trailer" align="right"></iframe>
            </div>
        </div>
        <br />
        <p><b>Screenings:</></b><br /></p>
    </div>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Movie.Screenings.Count; i++)
            {
                if (Model.Movie.Screenings.ToList()[i].TotalSeatCount > 0)
                {
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <b class="orange">@Model.Movie.Screenings.ToList()[i].Time.ToShortDateString() @Model.Movie.Screenings.ToList()[i].Time.ToShortTimeString()</b>
                            <div asp-validation-summary="All"></div>
                            <form asp-controller="Movie" asp-action="Movie" method="post">
                                <div class="form-group">
                                    <label asp-for="SeatId">
                                        Available seats:
                                        @for (int j = 0; j < Model.Movie.Screenings.ToList()[i].AvailableSeats.Count; j++)
                                        {
                                            if (Model.Movie.Screenings.ToList()[i].AvailableSeats.ToList()[j].Count > 0)
                                            {
                                                <span>@Model.Movie.Screenings.ToList()[i].AvailableSeats.ToList()[j].Count @Model.Movie.Screenings.ToList()[i].AvailableSeats.ToList()[j].Type.ToLower()@(j == Model.Movie.Screenings.ToList()[i].AvailableSeats.Count - 1 ? "" : ",")</span>
                                            }
                                        }
                                    </label>
                                    <select asp-for="SeatId" asp-items="seatLists[i]" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TicketCount">Number of tickets</label>
                                    <input asp-for="TicketCount" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">Book</button>
                            </form>
                        </div>
                        <br /> <br />
                    </div>
                }
            }
        </div>
    </div>
</div>

