@model BookingsViewModel
@{
    ViewData["Title"] = "My bookings";
}

<h2>My bookings</h2>
<br />
@if (Model.Bookings.Count > 0)
{
    <table class="table table-hover light">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Screening</th>
            <th class="center">Tickets</th>
            <th>Total price</th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Bookings.Count; i++)
        {
            <tr>
                <td>@(i + 1).</td>
                <td><a asp-controller="Movie" asp-action="Genres" asp-route-genreid="@Model.Bookings[i].Movie.GenreId">@Model.Bookings[i].Movie.Title</a></td>
                <td>@Model.Bookings[i].BookedTime.ToString().Substring(0, Model.Bookings[i].BookedTime.ToString().Length - 3)</td>
                <td class="center">@Model.Bookings[i].TicketCount</td>
                <td>@Model.Bookings[i].TotalPrice EUR</td>
                <td><a asp-controller="Movie" asp-action="Cancel" asp-route-time="@Model.Bookings[i].BookedTime" asp-route-id="@Model.Bookings[i].Id">Cancel</a></td>
            </tr>
        }
        <tr>
            <td colspan="4" class="right orange"><b>To pay:</b></td>
            <td colspan="2" class="left">@Model.TotalPrice EUR</td>
        </tr>
    </table>
}
else
{
    <div>You don't have any bookings yet.</div>
}
