@model ArticleViewModel;
@{
    ViewData["Title"] = Model.Article.Headline;
}

<ul class="nav nav-pills mb-3">
    @foreach (var t in Model.Topics)
    {
        <li class="nav-item">
            <a class="nav-link @(t.TopicId == Model.Article.Topic.TopicId ? "active" : "")" asp-controller="News" asp-action="Topics" asp-route-topicid="@t.TopicId">@t.TopicName</a>
        </li>
    }
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">@Model.Article.Topic.TopicName</li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Article.Headline</li>
    </ol>
</nav>
<div>
    <h1>@Model.Article.Headline</h1>
    <h5>@Model.Article.Author <span class="text-secondary">@Model.Article.WhenAdded</span></h5>
    <div>
        <img src="@Model.Article.Image" width="600"/>
    </div>
    @Model.Article.Body
</div>