@{
    ViewData["Title"] = "Topics";
}
@model TopicsViewModel

<ul class="nav nav-pills mb-3">
    @foreach (var t in Model.Topics)
    {
        <li class="nav-item">
            <a class="nav-link @(t.TopicId == Model.Topic?.TopicId ? "active" : "")" asp-controller="News" asp-action="Topics" asp-route-topicid="@t.TopicId">@t.TopicName</a>
        </li>
    }
</ul>

@if (Model.Topic != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@Model.Topic.TopicName</li>
        </ol>
    </nav>

    @if (Model.Topic.Articles != null)
    {
        <div class="row">
            @foreach (var a in Model.Topic.Articles)
            {
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card">
                        <img src="@a.Image" />
                        <div class="card-body">
                            <a class="card-link" asp-controller="News" asp-action="Article" asp-route-id="@a.ArticleId">@a.Headline</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
