@{
    ViewData["Title"] = "Topics";
}
@model TopicArticleViewModel; 
<ul class="nav nav-pills mb-3">
    @foreach (var t in Model.Topics)
    {
        <li class="nav-item">
            <a class="nav-link"asp-controller="News" asp-action="Topics" asp-route-topicid="@t.TopicId">@t.TopicName</a>
        </li>
    }
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@Model.Articles[0].Topic.TopicName</li>
    </ol>
</nav>
<div class="row">
    @for (int i = 0; i < 6; i++)
    {
        if (Model.Articles[i] != null)
        {
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="card">
                    <img src="@Model.Articles[i].Image" />
                    <div class="card-body">
                        <a class="card-link" asp-controller="News" asp-action="Article" asp-route-id="@Model.Articles[i].ArticleId">@Model.Articles[i].Headline</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            break;
        }
    }
</div>